@import 'spec';

// p

p {
  @extend .padding-xs;
}

// aligment

@mixin text-align-left {
  text-align: left;
}

@mixin text-align-center {
  text-align: center;
}

@mixin text-align-right {
  text-align: right;
}

@mixin text-align-justify {
  text-align: justify;
}

.align-left {
  @include text-align-left();
}

.align-center {
  @include text-align-center();
}

.align-right {
  @include text-align-right();
}

.align-justify {
  @include text-align-justify();
}

.v-align-center {
  position: relative;
  & > *:first-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// padding

@mixin set-padding($top-index, $right-index, $bottom-index, $left-index) {
  @if $top-index != 0 {
    padding-top: nth($padding-level, $top-index);
  }
  @if $right-index != 0 {
    padding-right: nth($padding-level, $right-index);
  }
  @if $bottom-index != 0 {
    padding-bottom: nth($padding-level, $bottom-index);
  }
  @if $left-index != 0 {
    padding-left: nth($padding-level, $left-index);
  }
}

@mixin padding-style($index) {
  .h-padding-#{nth($size-tags, $index)} {
    @include set-padding(0, $index, 0, $index);
  }
  .v-padding-#{nth($size-tags, $index)} {
    @include set-padding($index, 0, $index, 0);
  }
  .padding-#{nth($size-tags, $index)} {
    @include set-padding($index, $index, $index, $index)
  }
}

// margin

@mixin set-margin($top-index, $right-index, $bottom-index, $left-index) {
  @if $top-index != 0 {
    margin-top: nth($margin-level, $top-index);
  }
  @if $right-index != 0 {
    margin-right: nth($margin-level, $right-index);
  }
  @if $bottom-index != 0 {
    margin-bottom: nth($margin-level, $bottom-index);
  }
  @if $left-index != 0 {
    margin-left: nth($margin-level, $left-index);
  }
}

@mixin margin-style($index) {
  .h-margin-#{nth($size-tags, $index)} {
    @include set-margin(0, $index, 0, $index);
  }
  .v-margin-#{nth($size-tags, $index)} {
    @include set-margin($index, 0, $index, 0);
  }
  .margin-#{nth($size-tags, $index)} {
    @include set-margin($index, $index, $index, $index)
  }
}

// generate padding and margin

@for $i from 1 through 5 {
  @include padding-style($i);
  @include margin-style($i);
}

// flexbox

.h-flexbox {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;
  &.left-extend {

  }
  &.center-extend {

  }
  &.right-extend {

  }
  & > * {
    align-self: start;
  }
}

// grid
.grid-container {
  display: grid;
}
