@import 'spec';
@import 'colors';

// Solid Border

@mixin border-style($borderwidth) {
  .border-w#{$borderwidth} {
    border-width: $borderwidth * 0.1rem;
    border-style: solid;
    border-color: $black;
  }
}

@include border-style(1);
@include border-style(2);
@include border-style(4);
@include border-style(8);

// border-sides

.border-0101 {
  border-top: none;
  border-bottom: none;
}

.border-1010 {
  border-right: none;
  border-left: none;
}

// border radious

.border-r1 {
  border-radius: 1 * $border-radious-base;
}

.border-r2 {
  border-radius: 2 * $border-radious-base;
}

.border-r3 {
  border-radius: 3 * $border-radious-base;
}

.border-r4 {
  border-radius: 4 * $border-radious-base;
}

.border-r5 {
  border-radius: 5 * $border-radious-base;
}

.border-qr {
  border-radius: 25%;
}

.round {
  border-radius: 50%;
}
