@import 'spec';

// general size

// font size
$font-xs: 0.9 * $font-size-base;
$font-s: 1.2 * $font-size-base;
$font-m: 1.4 * $font-size-base;
$font-l: 1.8 * $font-size-base;
$font-xl: 2.2 * $font-size-base;

.font-xs {
  font-size: $font-xs;
}

.font-s {
  font-size: $font-s;
}

.font-m {
  font-size: $font-m;
}

.font-l {
  font-size: $font-l;
}

.font-xl {
  font-size: $font-xl;
}

p {
  font-size: $font-m;
}

header {
  font-size: $font-m;
}

nav {
  font-size: $font-l;
}

main {
  font-size: $font-m;
}

aside {
  font-size: $font-m;
}
