<div class="mvsui-aside" *ngIf="asideMenus">
    <h4><i class="fa fa-bars fa-fw"></i>Sidebar Menu</h4>
    <ul>
        <!-- Level 1 -->
        <li *ngFor="let asideMenu1 of (asideMenus | asideLevel: 1)" id="{{asideMenu1.menuId}}">
            <a routerLink="{{asideMenu1.link}}" routerLinkActive="active">
                <i class="{{asideMenu1.iconClass}}"></i>
                {{asideMenu1.label}}
            </a>
            <!-- Level 2 -->
            <ul id="{{asideMenu1.menuId}}-children">
                <li *ngFor="let asideMenu2 of (asideMenus | asideLevel: 2 | asideParent: asideMenu1.id)" id="{{asideMenu2.menuId}}">
                    <a routerLink="{{asideMenu2.link}}" routerLinkActive="active">
                        {{asideMenu2.label}}
                    </a>
                    <!-- Level 3 -->
                    <ul id="{{asideMenu2.menuId}}-children">
                        <li *ngFor="let asideMenu3 of (asideMenus | asideLevel: 3 | asideParent: asideMenu2.id)" id="{{asideMenu3.menuId}}">
                            <a routerLink="{{asideMenu3.link}}" routerLinkActive="active">
                                {{asideMenu3.label}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
