<form class="mvsui-form" action="" method="">
    <fieldset>
        <legend>
            <i class="fa fa-edit fa-fw"></i>
            {{ formTitle }}
        </legend>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Label</label>
                    <input type="text" class="form-control" placeholder="input here">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Label</label>
                    <input type="text" class="form-control" placeholder="input here">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Label</label>
                    <input type="text" class="form-control" placeholder="input here">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Label</label>
                    <select class="form-control" name="selectName" id="selectId">
                        <option value="optionValue">Option</option>
                        <option value="optionValue">Option</option>
                        <option value="optionValue">Option</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Label</label>
                    <select class="form-control" name="selectName" id="selectId">
                        <option value="optionValue">Option</option>
                        <option value="optionValue">Option</option>
                        <option value="optionValue">Option</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Label</label>
                    <input type="text" class="form-control" placeholder="input here">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Label</label>
                    <input type="text" class="form-control" placeholder="input here">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Label</label>
                    <input type="text" class="form-control" placeholder="input here">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Label</label>
                    <input type="text" class="form-control" placeholder="input here">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Label</label>
                    <input type="text" class="form-control" placeholder="input here">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Checkbox</label>
                    <div class="inline-group">
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox1" value="option1"> option 1
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox2" value="option2"> option 2
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3"> option 3
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Radio</label>
                    <div class="inline-group">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> option 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> option 2
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> option 3
                        </label>        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mvsui-form-unit">
                <label>Textarea</label>
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="mvsui-form-btngroup text-center">
            <button type="button" class="btn btn-default">
                <i class="fa fa-search"></i> Default
            </button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>
    </fieldset>
</form>