.mvsui-form1 .row,
.mvsui-form2 .row,
.mvsui-charts .row {
  margin: 0 -0.5rem;
  padding: 0;
}
.mvsui-form1 .row > div,
.mvsui-form2 .row > div,
.mvsui-charts .row > div {
  padding: 0 0.5rem;
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .mvsui-form1 .row > div:first-child,
  .mvsui-form2 .row > div:first-child,
  .mvsui-charts .row > div:first-child {
    padding-left: 0.5rem;
  }
  .mvsui-form1 .row > div:last-child,
  .mvsui-form2 .row > div:last-child,
  .mvsui-charts .row > div:last-child {
    padding-right: 0.5rem;
  }
}
