<div class="mvsui-aside" *ngIf="asideMenus">
    <h4><i class="fa fa-bars fa-fw"></i>Sidebar Menu</h4>
    <!--<a [routerLink]="['/dashboard']">Dashboard</a>
    <a [routerLink]="['/form']">Form</a>-->
    <ul>
        <!-- Level 1 -->
        <li *ngFor="let asideMenu of (asideMenus | level: 1)" id="{{ asideMenu.menuId }}">
            <a href="{{ asideMenu.link }}">
                <i class="{{ asideMenu.iconClass }}"></i>
                {{ asideMenu.label }}
            </a>
            <!-- Level 2 -->
            <ul *ngIf="asideMenu" id="{{ asideMenu.menuId }}-children">
                <li *ngFor="let asideMenu of (asideMenus | level: 2 | parent: asideMenu.menuId)" id="{{ asideMenu.menuId }}">
                    <a>
                        {{ asideMenu.label }}
                    </a>
                    <!-- Level 3 -->
                    <ul *ngIf="asideMenu" id="{{ asideMenu.menuId }}-children">
                        <li *ngFor="let asideMenu of (asideMenus | level: 3 | parent: asideMenu.menuId)" id="{{ asideMenu.menuId }}">
                            <a href="{{ asideMenu.link }}">
                                {{ asideMenu.label }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>