.rect-group {
  display: flex;
  border-color: black;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
}
.rect {
  width: 80px;
  height: 80px;
  border-width: 1px;
  border-style: solid;
  margin-right: 10px;
}
